/* ============================= */
/* ===== Allgemeine Styles ===== */
/* ============================= */

/* Dein Code */

/* ======================================= */
/* ===== Section 1: Navigationszeile ===== */
/* ======================================= */

/* Dein Code */

/* ================================ */
/* ===== Section 2: Überblick ===== */
/* ================================ */

/* Dein Code */
.section-style-2 {
    background-color: rgb(102, 102, 173);
    color: rgb(255, 255, 255)
}

.grosser-titel {
    font-size: 60px;
    font-weight: bold;
}

.kleiner-titel3 {
    font-size: 30px;
}
.app-bild {
    width: 50%;
    border-radius: 3%;
  }

  #überblick {
    padding: 10%;
  }

  .überblick-links {
    padding-top: 10%;
  }
  
  .btn {
    margin: 3% 0;
  }

  .app-bild {
    width: 30%;
    border-radius: 2%;
    transform: rotate(5deg);
  }
  
  .section-style-1 {
    background-color:  rgb(158, 158, 196);
    color: rgb(255, 255, 255);
  }

  .feature-box {
    padding: 3%;
  }

 
  
  
/* =============================== */
/* ===== Section 3: Features ===== */
/* =============================== */

/* Dein Code */.icon {color: rgb(162, 129, 192);}
.icon:hover {color: rgb(76, 172, 81);}

/* ================================== */
/* ===== Section 4: Bewertungen ===== */
/* ================================== */

/* Dein Code */#bewertungen {
  padding: 3%;
}
.bewertung-text {
  font-size: 40px;
  margin: 0 10%;
  color: rgb(50, 50, 126);
  font-family: Georgia, 'Times New Roman', Times, serif;
}

/* ============================= */
/* ===== Section 5: Preise ===== */
/* ================= =========== */

/* Dein Code */
.kleiner-titel {
  color: rgb(175, 109, 83);
}
.cardbody {color: blue;}

/* ============================= */
/* ===== Section 6: Footer ===== */
/* ============================= */

/* Dein Code */
